{% extends 'main/base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow p-4 rounded border">
            <h2>О проекте</h2>
            <p>Квиз-Игра — это развлекательно-познавательный проект с коллекцией вопросов на самые разные темы. С его помощью вы можете развлечься, проверить и расширить свой кругозор, а также поделиться с друзьями наиболее интересными вопросами. </p>
        </div>
    </div>
</div>
{% endblock %}

