{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow p-4 rounded border">
            <h2>Главная</h2>
            <p>Добро пожаловать в нашу интеллектуальную викторину.
                Отвечай на вопросы, набирай баллы и докажи, что ты настоящий эксперт в своей области! </p>
            <p class="my-3">Готовы начать? Просто нажмите на вкладку "Игра"</p>
        </div>
    </div>
</div>
{% endblock %}
